#Model_section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.model_container {
    width: 75vw;
    max-width: 90%;
    height: 100vh;
}

.model {
    display: flex;
    justify-content: center;
}

iframe {
    width: 75vw;
    height: 85vh;
}

.Technische_Daten {
    height: 100vh;
    background-image: url(images/Bsp_2_3.png);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

.Technische_Daten_container {
    background-color: rgba(0, 0, 0, 0.5);
    width: 30rem;
    height: 100vh;
    padding: 5vh;
}

.Technische_Daten_container ul {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.Technische_Daten_container li {
    font-size: 2rem;
    color: white;
}

@media(max-width: 900px) {

    .Technische_Daten_container {
        width: 100vw;
    }

    .Technische_Daten_container li {
        font-size: 1rem;
        text-align: center;
    }
}
