#Model_section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.model_container {
    width: 75vw;
    max-width: 90%;
    height: 100vh;
}

.model {
    display: flex;
    justify-content: center;
}

iframe {
    width: 75vw;
    height: 85vh;
}

.Technische_Daten {
    height: 100vh;
    background-image: url(images/Bsp_2_3.png);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

.Technische_Daten_container {
    width: 75vw;
    height: 100vh;
    max-width: 90%;
    margin: 0 auto;
    padding: 5rem;
    justify-content: center;
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    grid-template-areas: 
    "eins eins zwei"
    "drei vier zwei"
    "fuenf vier sechs";
}

.item_1 {
    grid-area: eins;
    background-color: blue;
}

.item_2 {
    grid-area: zwei;
    background-color: blue;
}

.item_3 {
    grid-area: drei;
    background-color: blue;
}

.item_4 {
    grid-area: vier;
    background-color: blue;
}

.item_5 {
    grid-area: fuenf;
    background-color: blue;
}

.item_6 {
    grid-area: sechs;
    background-color: blue;
}

@media(max-width: 900px) {

    .Technische_Daten_container {
        width: 100%;
    }
}
