@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    scroll-behavior: smooth;
    --main-brand-color: #CF0A0A; 
    --primary-color: #EEEEEE;
    --secondary-color: #B3B4B6;
    --text-color: #000;
    --secondary-text-color: #dc5f00;
    height: 100%;
    width: 100%;
}

body {
    min-height: 100%;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

:not(.checkpoint) {
    box-sizing: border-box;
}

.lang-content {
    display: none;
  }
  
.de #deContent,
.en #enContent {
    display: block;
  }

#en:checked ~ .en #enContent,
#de:checked ~ .de #deContent {
  display: block;
}

h1 {
    font-size: 5vw;
    font-weight: 400;
    line-height: 100%;
    color: var(--main-brand-color);
}

.subheading {
    color: var(--primary-color);
}

h2 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 100%;
    color: var(--text-color);
    padding-top: 3vh;
    margin-bottom: 5vh;
}

h3 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 100%;
    color: var(--primary-color);
    margin-bottom: 5vh;
}

.service_subheadings {
    margin-bottom: 1rem;
}

.Entstehungsgeschichte_heading, .Service_heading, .Impressum_heading {
    color: white;
}

.grid_heading {
    font-size: 2rem;
    font-weight: 400;
    color: var(--primary-color)
}

.back_top {
    text-decoration: none;
}

.back_top span {
    font-size: 4rem;
    cursor: pointer;
    color: #888;
    position: fixed;
    bottom: 25vh;
    right: 2vw;
    z-index: 100000;
}

#language_mobile_input_id_de, #language_mobile_input_id_en, #language_mobile_label_id_de, #language_mobile_label_en {
    display: none;
}

.language_mobile_selector_class {
    display: none;
}

@media(max-width: 900px) {

    h2 {
        font-size: 2rem;
        text-align: center;
    }

    h3 {
        font-size: 1rem;
        text-align: center;
    }

    .service_subheadings {
        font-size: 1.5rem;
        margin-bottom: none;
    }

    .back_top span {
        font-size: 2.5rem;
    }

    .language_mobile_selector_class {
        display: block;
    }

    .language_mobile_label_class_de {
        display: none;
        justify-content: center;
        align-items: center;
        position: fixed;
        cursor: pointer;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 2.5rem;
        background-color: rgb(69, 69, 69);
        bottom: 7vh;
        right: 2vw;
        font-size: 1.25rem;
        font-weight: 600;
        color: white;
    }

    .language_mobile_label_class_en {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        cursor: pointer;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 2.5rem;
        background-color: rgb(69, 69, 69);
        bottom: 7vh;
        right: 2vw;
        font-size: 1.25rem;
        font-weight: 600;
        color: white;
    }
}

@media(max-width: 500px) {

    .grid_heading {
        font-size: 1.5rem;
    }
}

@media(max-width: 400px) {

    .grid_heading {
        font-size: 1.25rem;
    }
}

@media(max-width: 300px) {

    .grid_heading {
        font-size: 1rem;
    }
}
