header {
    position: relative;
    overflow: hidden;
}

.banner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 1;
    padding: 25px;
}

.logo_and_main_heading {
    display: flex;
    gap: 25px;
}

.logo {
    width: 100px;
}

.subheading {
    font-size: 150%;
}

nav {
    width: 50%;
    flex-shrink: 0;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    list-style: none;
}

nav a{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
    font-size: 125%;
    position: relative;
    padding: 10px;
}

nav a::before {
    content: '';
    height: 2px;
    width: 0;
    background: var(--main-brand-color);
    position: absolute;
    bottom: 0;
    left: 50%;
    transition: 200ms ease-in-out;
}

nav a:hover::before {
    width: 50%;
}

nav a::after {
    content: '';
    height: 2px;
    width: 0;
    background: var(--main-brand-color);
    position: absolute;
    bottom: 0;
    right: 50%;
    transition: 200ms ease-in-out;
}

nav a:hover::after {
    width: 50%;
}

.language_selector {
    display: flex;
    height: 50px;
}

.language_radio {
    display: none;
}

.language_label {
    cursor: pointer;
    padding: 10px;
    border: 2px solid black;
    transition: background-color 0.3s;
}

input[type="radio"]:checked+.language_label {
    background-color: black;
    color: white;
  }

input[type="radio"]:not(checked)+.language_label {
    background-color: white;
    color: black;
}

.slider {
    display: flex;
    width: 500%;
    animation: slideAnimation 20s infinite;
    position: relative;
  }
  
.slide {
    flex: 1;
    height: 100vh;
    background-size: cover;
    background-position: center;
  }

  #slide1 { background-image: url('images/Bsp_2_1.png'); }
  #slide2 { background-image: url('images/Bsp_2_2.png'); }
  #slide3 { background-image: url('images/Bsp_2_3.png'); }
  #slide4 { background-image: url('images/Bsp_2_4.png'); }
  #slide5 { background-image: url('images/Bsp_2_1.png'); }
  
@keyframes slideAnimation {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

.arrow_down {
    position: absolute;
    z-index: 1;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
}

.arrow_down span {
    color: var(--main-brand-color);
    font-size: 800%;
    font-weight: 800;
}
