#Kontakt_section {
    padding: 1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Kontakt_container {
    width: 75vw;
    max-width: 90%;
}

form {
    width: 60vw;
    margin: 0 auto;
    padding-bottom: 2em;
}

.Kontakt_container label {
    display: block;
    font-size: 1.5rem;
    margin: 1.5rem 0;
}

.Kontakt_container input, textarea {
    margin: 0.5rem 0 0 0;
    width: 100%;
    height: 2rem;
    border: 1px solid #0a0a23;
    font-size: 1.25rem;
    padding-left: 10px;
    border-radius: 1em;
    font-family: Poppins, sans-serif;
  }

.Kontakt_container textarea {
    height: 8rem;
}

input[type="submit"] {
    display: block;
    width: 100%;
    margin: 1em auto;
    height: 3rem;
    font-size: 1.5rem;
}

input[type="submit"]:hover {
    letter-spacing: 1px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
    transform: scale(1.02);
}

@media(max-width: 900px) {

    .Kontakt_container label {
        font-size: 1rem;
    }    

    .Kontakt_container input, textarea {
        font-size: 0.75rem;
    }

    .Kontakt_container {
        max-width: 100%;
        width: 90vw;
    }
}

@media(max-width: 400px) {
    form {
        width: 90vw;
    }
}
